* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;;
}

.App{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-color: #f5f4f4;
    display: flex;
    flex-direction: row;
}
.section{
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
    box-sizing: border-box;
    min-width: 0

}