*{margin:0;padding:0;}
      .btn{border:none;background:none;color:red;}
      .btn-color{color:green;}
      li{border-bottom:0.1px solid #000; list-style: none;}
      li:nth-child(even){
        background:pink;
      }
      li:nth-child(odd){
        background:skyblue;
      }
————————————————
版权声明：本文为CSDN博主「小九✲」的原创文章，遵循CC 4.0 BY-SA版权协议，转载请附上原文出处链接及本声明。
原文链接：https://blog.csdn.net/l_nine/article/details/103694972